In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
crd_db = pd.read_csv('credit_risk.csv')

In [14]:
crd_db.columns

Index(['over_draft', 'credit_usage', 'credit_history', 'purpose',
       'current_balance', 'Average_Credit_Balance', 'employment', 'location',
       'personal_status', 'other_parties', 'residence_since',
       'property_magnitude', 'cc_age', 'other_payment_plans', 'housing',
       'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

In [13]:
len(crd_db.columns)

21

In [5]:
crd_db.describe()

,credit_usage,current_balance,location,residence_since,cc_age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [16]:
crd_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
over_draft                1000 non-null object
credit_usage              1000 non-null int64
credit_history            1000 non-null object
purpose                   1000 non-null object
current_balance           1000 non-null int64
Average_Credit_Balance    1000 non-null object
employment                1000 non-null object
location                  1000 non-null int64
personal_status           1000 non-null object
other_parties             1000 non-null object
residence_since           1000 non-null int64
property_magnitude        1000 non-null object
cc_age                    1000 non-null int64
other_payment_plans       1000 non-null object
housing                   1000 non-null object
existing_credits          1000 non-null int64
job                       1000 non-null object
num_dependents            1000 non-null int64
own_telephone             1000 non-null object
foreign_worker            1000 non-null object
class                     1000 non-null object
dtypes: int64(7), object(14)
memory usage: 164.1+ KB

In [19]:
crd_db['class'].value_counts()

good    700
bad     300
Name: class, dtype: int64

# Encoding the categorical data

In [28]:
X = crd_db.columns.drop('class')
y = crd_db['class']

In [32]:
crd_db_encoded = pd.get_dummies(crd_db[X])

In [33]:
crd_db_encoded.shape

(1000, 61)

 # Spliting the data

In [36]:
# Importing the required module
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(crd_db_encoded, y, test_size=0.20)

In [37]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression().fit(X_train, y_train)

In [38]:
# Train accuracy
model.score(X_train, y_train)

0.78875

In [39]:
# Test accuracy
model.score(X_test, y_test)

0.735

# Confusion Matrix

In [66]:
# Prediting the data based on model
train_pred = model.predict(X_train)
test_pred = model.predict(X_test)

In [67]:
from sklearn.metrics import confusion_matrix

# for train data
train_conf_matrix = confusion_matrix(y_train, train_pred)
train_conf_matrix = pd.DataFrame(train_conf_matrix, columns=model.classes_, index=model.classes_)
train_conf_matrix

      bad  good
bad   127   109
good   60   504

In [51]:
# for test data
test_conf_matrix = confusion_matrix(y_test, test_pred)
test_conf_matrix = pd.DataFrame(test_conf_matrix, columns=model.classes_, index=model.classes_)
test_conf_matrix

      bad  good
bad    32    32
good   21   115

In [78]:
# Calculating train accuracy from confusion matrix
train_correct_predictions = train_conf_matrix['bad']['bad'] + train_conf_matrix['good']['good']
train_total_predictions = train_conf_matrix.values.sum()
train_accruacy = train_correct_predictions/train_total_predictions
print(train_accuracy)

0.78875

# Precision, Recall, F1-Score

Precision: The precision for a class A indicates how accurate the model is in identifying class A.

Recall: The recall for a class A indicates how good the model is in fetching/retrieving instances of class A.

F1-score: This metric is the harmonic mean of precision and recall and can indicate how good the model is in classifying instances of a particular class.

In [80]:
from sklearn.metrics import classification_report

print(classification_report(y_test, test_pred))

             precision    recall  f1-score   support

        bad       0.60      0.50      0.55        64
       good       0.78      0.85      0.81       136

avg / total       0.73      0.73      0.73       200