In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
hp_db = pd.read_csv('kc_house_data.csv')

In [3]:
hp_db.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [4]:
hp_db.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [5]:
hp_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null int64
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [6]:
hp_db.shape

(21613, 21)

# Feature Engineering

In [7]:
hp_df = hp_db[["price","date", "bedrooms", 
                                  "bathrooms", "sqft_living", "floors", 
                                  "waterfront", "view", "condition", "grade","zipcode"]]

In [8]:
hp_df.head()

,price,date,bedrooms,bathrooms,sqft_living,floors,waterfront,view,condition,grade,zipcode
0,221900.0,20141013T000000,3,1.00,1180,1.0,0,0,3,7,98178
1,538000.0,20141209T000000,3,2.25,2570,2.0,0,0,3,7,98125
2,180000.0,20150225T000000,2,1.00,770,1.0,0,0,3,6,98028
3,604000.0,20141209T000000,4,3.00,1960,1.0,0,0,5,7,98136
4,510000.0,20150218T000000,3,2.00,1680,1.0,0,0,3,8,98074

In [9]:
# Extracting year and month from date
hp_df.loc[:, 'Year'] = hp_db['date'].str[0:4]
hp_df.loc[:, 'Month'] = hp_db['date'].str[4:6]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [12]:
hp_df = hp_df.drop(columns=['date']).head()

In [13]:
hp_df.head()

,price,bedrooms,bathrooms,sqft_living,floors,waterfront,view,condition,grade,zipcode,Year,Month
0,221900.0,3,1.00,1180,1.0,0,0,3,7,98178,2014,10
1,538000.0,3,2.25,2570,2.0,0,0,3,7,98125,2014,12
2,180000.0,2,1.00,770,1.0,0,0,3,6,98028,2015,02
3,604000.0,4,3.00,1960,1.0,0,0,5,7,98136,2014,12
4,510000.0,3,2.00,1680,1.0,0,0,3,8,98074,2015,02

# Encoding view column

In [14]:
cat_features = ["waterfront", "view", "condition", "grade", "Year", "Month", "zipcode"]
hp_df = pd.get_dummies(hp_df, columns=cat_features)

# Normalizing the data

In [15]:
from sklearn.preprocessing import StandardScaler
# finding the mean and std deviation of numerical columns
scaler = StandardScaler()
scaler.fit(hp_df[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors']])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
# scaling columns to a common range
hp_norm = scaler.transform(hp_df[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors']])

In [17]:
hp_norm

array([[-1.08223872,  0.        , -1.10660574, -0.72618899, -0.5       ],
       [ 0.72894118,  0.        ,  0.52075564,  1.50700281,  2.        ],
       [-1.32231603, -1.58113883, -1.10660574, -1.38490024, -0.5       ],
       [ 1.10710591,  1.58113883,  1.49717248,  0.526969  , -0.5       ],
       [ 0.56850765,  0.        ,  0.19528337,  0.07711741, -0.5       ]])

In [18]:
# Adding the normalized columns to the dataframe
hp_df_norm = pd.DataFrame(hp_norm, columns=['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors'])
hp_df_norm = hp_df_norm.join(hp_df[hp_df.columns.drop(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'floors'])])

In [19]:
hp_df_norm.head()

,price,bedrooms,bathrooms,sqft_living,floors,waterfront_0,view_0,condition_3,condition_5,grade_6,...,Year_2014,Year_2015,Month_02,Month_10,Month_12,zipcode_98028,zipcode_98074,zipcode_98125,zipcode_98136,zipcode_98178
0,-1.082239,0.000000,-1.106606,-0.726189,-0.5,1,1,1,0,0,...,1,0,0,1,0,0,0,0,0,1
1,0.728941,0.000000,0.520756,1.507003,2.0,1,1,1,0,0,...,1,0,0,0,1,0,0,1,0,0
2,-1.322316,-1.581139,-1.106606,-1.384900,-0.5,1,1,1,0,1,...,0,1,1,0,0,1,0,0,0,0
3,1.107106,1.581139,1.497172,0.526969,-0.5,1,1,0,1,0,...,1,0,0,0,1,0,0,0,1,0
4,0.568508,0.000000,0.195283,0.077117,-0.5,1,1,1,0,0,...,0,1,1,0,0,0,1,0,0,0

In [20]:
# Target variable
y = hp_df_norm['price']

# Feature variables
X = hp_df_norm[hp_df_norm.columns.drop('price')]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=100)

# Training the model

In [22]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [23]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
# Test score
model.score(X_test, y_test)

0.7360338862935719

In [25]:
# Train score
model.score(X_train, y_train)

1.0

# Evaluating model performance

In [26]:
from sklearn.metrics import mean_squared_error

train_pred = model.predict(X_train)
train_RMSE = mean_squared_error(y_train, train_pred)**0.5

test_pred = model.predict(X_test)
test_RMSE = mean_squared_error(y_test, test_pred)**0.5

print('Train: ', train_RMSE)
print('Test: ', test_RMSE)

Train:  6.409875621278547e-16
Test:  0.5269436950095923